<!-- Reference of app.js file -->
<html ng-app="sdsReportAutoApp">

<head>
<meta content="utf-8" http-equiv="encoding">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="">
<link rel="stylesheet"
	href="/resources/css/bootstrap/bootstrap-theme.min.css" />
<link rel="stylesheet" href="/resources/css/uigrid/ui-grid.min.css" />
<link rel="stylesheet" href="/resources/css/nggrid/ng-grid.min.css" />
<link rel="stylesheet" href="/resources/css/other/font-awesome.min.css" />
<link rel="stylesheet" href="/resources/css/other/nv.d3.min.css" />
<link rel="stylesheet" href="/resources/css/other/angular-flash.min.css" />
<link rel="stylesheet" href="/resources/css/main.css" />
<link rel="stylesheet" href="/resources/css/base.css" />
<link rel="stylesheet" href="/resources/css/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" href="/resources/css/bootstrap/bootstrap-datepicker3.min.css" />
<script src="/resources/js/lib/jquery/jquery-2.1.4.min.js" /></script>
<script src="/resources/js/lib/angular/angular.min.js" /></script>
<script src="/resources/js/lib/angular/angular-animate.min.js" /></script>
<script src="/resources/js/lib/angular/angular-aria.min.js" /></script>
<script src="/resources/js/lib/angular/angular-cookies.min.js" /></script>
<script src="/resources/js/lib/angular/angular-loader.min.js" /></script>
<script src="/resources/js/lib/angular/angular-message-format.min.js" /></script>
<script src="/resources/js/lib/angular/angular-messages.min.js" /></script>
<script src="/resources/js/lib/angular/angular-mocks.js" /></script>
<script src="/resources/js/lib/angular/angular-resource.min.js" /></script>
<script src="/resources/js/lib/angular/angular-route.min.js" /></script>
<script src="/resources/js/lib/angular/angular-sanitize.min.js" /></script>
<script src="/resources/js/lib/angular/angular-touch.min.js" /></script>
<script src="/resources/js/lib/angular2/angular-flash.min.js" /></script>
<script src="/resources/js/lib/angularmoduls/uigrid/ui-grid.min.js" /></script>
<script src="/resources/js/lib/bootstrap/bootstrap.min.js" /></script>
<script src="/resources/js/lib/bootstrap/bootstrap-datepicker.js" /></script>
<script src="/resources/js/lib/d3/d3.min.js" charset="utf-8"/></script>
<script src="/resources/js/lib/d3/d3.v3.min.js" charset="utf-8"/></script>
<script src="/resources/js/lib/d3/nv.d3.min.js" charset="utf-8"/></script>
<script src="/resources/js/lib/d3/angular-nvd3.min.js" charset="utf-8"/></script>
<script src="/resources/js/lib/ng-grid/ng-grid.min.js"  charset="utf-8"/></script>
<script src="/resources/js/lib/ng-grid/ng-grid-csv-export.min.js" ></script>
<script src="/resources/js/lib/other/spin.min.js" ></script>
<script src="/resources/js/lib/other/angular-spinner.min.js" ></script>
<script src="/resources/js/lib/other/angular-loading-spinner.js" ></script>
<script src="/resources/js/lib/other/FileSaver.min.js" ></script>
<script src="/resources/js/lib/other/ng-file-upload.min.js" ></script>
<script src="/resources/js/lib/other/ng-file-upload-shim.min.js" ></script>
<script src="/resources/js/controller/ReportController.js" /></script>
<script src="/resources/js/directives/maindirective.js" /></script>
<script src="/resources/js/filters/mainfilter.js" /></script>
<script src="/resources/js/services/ReportService.js" /></script>
<script src="/resources/js/constant/outreachconstant.js" /></script>
<script src="/resources/js/utils/column_Defs.js" /></script>
<script src="/resources/js/app.js" /></script>


<script>


$(document).ready(function(){
	
	$('.datepicker').datepicker();
})

</script>

</head>

<body>
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container" ng-controller="activeCtrl">
				<ul class="nav navbar-nav navbar-left">
					<li  ng-class="{active:isActive('/')}"><a href="#/"><i class="fa fa-home"></i>Historical Report</a></li>
					<li ng-class="{active:isActive('/ownership')}"><a href="#/ownership"><i class="fa fa-comment"></i>OwnerShip Report</a></li>	
					<li ng-class="{active:isActive('/snapshot')}"><a href="#/snapshot" ><i class="fa fa-shield"></i>SnapShot Report</a></li>
					<li  ng-class="{active:isActive('/useraccess')}"><a href="#/useraccess"><i class="fa fa-shield"></i>UserAcess Report</a></li>

				</ul>
			</div>
		</nav>
	</header>
	<div ng-view style='padding-top: 10px; padding-left: 20px; padding-right: 20px; padding-bottom: 10px;'>
	</div>
</body>




</html>